@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Pridi&family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border scroll-smooth;
  }

  /* Scrollbar */

  ::-webkit-scrollbar {
    @apply w-[9px] bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-darkerBlue hover:bg-lighterBlue;
  }
}

@layer utilities {
  /* Navigation hover */

  .underline-animation::after {
    @apply content-[""] absolute bottom-0 left-1/2 block h-[1px] w-0 bg-black dark:bg-white ease-out duration-300;
  }

  .underline-animation:hover::after {
    @apply w-full left-0;
  }

  /* Cut borders */

  .cut-border {
    @apply relative;
  }

  .cut-border::before,
  .cut-border::after {
    @apply content-[""] absolute w-0;
  }

  .cut-border::before {
    @apply top-0 left-0 border-t-white dark:border-t-lighterGray border-t-[28px] border-r-[#ffffff] dark:border-r-darkGray border-r-[28px] transition-all;
  }

  .cut-border::after {
    @apply bottom-0 right-0 border-b-white dark:border-b-lighterGray border-b-[28px] border-l-[#ffffff] dark:border-l-darkGray border-l-[28px] transition-all;
  }

  /* Input autocomplete */

  :-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus {
    -webkit-background-clip: text;
    -webkit-box-shadow: none;
    -webkit-text-fill-color: #0d0d0d;
  }

  .dark :-webkit-autofill,
  .dark :-webkit-autofill:hover,
  .dark :-webkit-autofill:focus {
    -webkit-text-fill-color: #d9d9d9;
    @apply border-white;
  }
}

/* Swiper */

.swiper-pagination-bullet-active {
  @apply bg-darkerRed w-[9px] h-[9px];
}

.dark .swiper-pagination-bullet-active {
  @apply bg-lighterRed w-[9px] h-[9px];
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-darkerRed;
}

.dark .swiper-button-prev,
.dark .swiper-button-next {
  @apply text-lighterRed;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-2xl;
}
